In [1]:
import pandas as pd

In [2]:
data_banner = pd.read_excel('data/Копия banner.xlsx')
data_banner['ad_channel'] = 'banner'
data_banner.head()

   user_id funnel_stage  timestamp  profit       os ad_channel
0   666743     interest     150000     NaN  Android     banner
1    47061     interest     150000     NaN  Android     banner
2   587720     interest     150000     NaN  Android     banner
3   991300       intent     150001     NaN      iOS     banner
4   289020     interest     150001     NaN  Android     banner

In [3]:
data_native = pd.read_csv('data/Копия native.csv')
data_native = data_native.drop(columns = 'Unnamed: 0')
data_native['ad_channel'] = 'native'
data_native.head()

   user_id funnel_stage  timestamp  profit   os ad_channel
0   602424     interest     150002     NaN  iOS     native
1   217793     interest     150010     NaN  iOS     native
2   978521     interest     150010     NaN  iOS     native
3   747938     interest     150013     NaN  iOS     native
4   809853     interest     150016     NaN  iOS     native

In [4]:
data_organic_traffic = pd.read_csv('data/Копия organic_traffic.csv', header=None)
data_organic_traffic = data_organic_traffic.drop(columns=0)
data_organic_traffic.columns = ['user_id', 'funnel_stage', 'timestamp', 'profit', 'os']
data_organic_traffic['ad_channel'] = 'organic traffic'
data_organic_traffic.head()

   user_id funnel_stage  timestamp  profit       os       ad_channel
0   764740     interest     150001     NaN      iOS  organic traffic
1   476137     interest     150002     NaN  Android  organic traffic
2   959652     interest     150002     NaN  Android  organic traffic
3   227224     interest     150004     NaN  Android  organic traffic
4   541742     interest     150006     NaN  Android  organic traffic

In [5]:
data_other = pd.read_csv('data/Копия other.csv')
data_other = data_other.drop(columns = 'Unnamed: 0')
data_other['ad_channel'] = 'other'
data_other.head()

   user_id funnel_stage  timestamp  profit       os ad_channel
0   866112     interest     150009     NaN  Android      other
1   634356     interest     150014     NaN      iOS      other
2   160340     interest     150030     NaN  Android      other
3  1004246     interest     150036     NaN  Android      other
4   897963     interest     150048     NaN  Android      other

In [6]:
data_partner_network = pd.read_csv('data/Копия partner_network.csv', header=None, names = ['user_id', 'funnel_stage', 'timestamp', 'profit', 'os'])
data_partner_network['ad_channel'] = 'partner network'
data_partner_network.head()

    user_id funnel_stage  timestamp  profit       os       ad_channel
8    561010     interest     150000     NaN      iOS  partner network
12   800792     interest     150000     NaN  Android  partner network
15  1035593     interest     150000     NaN  Android  partner network
32   863728     interest     150002     NaN      iOS  partner network
38   593703     interest     150002     NaN  Android  partner network

In [7]:
data_rich = pd.read_excel('data/Копия rich.xlsx')
data_rich['ad_channel'] = 'rich'
data_rich.head()

   user_id funnel_stage  timestamp  profit       os ad_channel
0   278945     INTEREST     150000     NaN      iOS       rich
1   246655     INTEREST     150004     NaN      iOS       rich
2   777208     INTEREST     150009     NaN  Android       rich
3   737227     INTEREST     150009     NaN      iOS       rich
4   599994     INTEREST     150015     NaN  Android       rich

In [8]:
data_search = pd.read_csv('data/Копия search.csv')
data_search = data_search.drop(columns = 'Unnamed: 0')
data_search['ad_channel'] = 'search'
data_search.head()

   user_id   funnel_stage  timestamp  profit       os ad_channel
0   387356       INTEREST     150000     NaN      iOS     search
1   619571  CONSIDERATION     150000     NaN      iOS     search
2   230119       INTEREST     150000     NaN      iOS     search
3   399556       INTEREST     150000     NaN      iOS     search
4   556959       INTEREST     150001     NaN  Android     search

In [9]:
data_video = pd.read_csv('data/Копия video.csv')
data_video = data_video.drop(columns = 'Unnamed: 0')
data_video['ad_channel'] = 'video'
data_video.head()

   user_id funnel_stage  timestamp  profit       os ad_channel
0   512217     interest     150000     NaN      iOS      video
1   833649     interest     150000     NaN  Android      video
2   327813     interest     150002     NaN  Android      video
3   241345     interest     150004     NaN      iOS      video
4   212554     interest     150004     NaN  Android      video

In [10]:
df_advertising_information = pd.read_json("data/Копия advertising_information.json")
df_advertising_information.head()

        ad_channel  price
0           search   1.50
1           banner   0.50
2            video   0.75
3           native   2.00
4  partner_network   1.00

In [11]:
df = pd.concat([data_banner, data_native, data_organic_traffic, data_other, \
                data_partner_network, data_rich, data_search, data_video], axis=0)
df.shape

(4228781, 6)

In [13]:
all_data = df.merge(df_advertising_information.set_index('ad_channel'), on = 'ad_channel')
all_data

         user_id   funnel_stage  timestamp  profit       os ad_channel  price
0         666743       interest     150000     NaN  Android     banner   0.50
1          47061       interest     150000     NaN  Android     banner   0.50
2         587720       interest     150000     NaN  Android     banner   0.50
3         991300         intent     150001     NaN      iOS     banner   0.50
4         289020       interest     150001     NaN  Android     banner   0.50
...          ...            ...        ...     ...      ...        ...    ...
3159545   446310  consideration     200926     NaN  Android      video   0.75
3159546   340340  consideration     200927     NaN  Android      video   0.75
3159547   313410  consideration     200951     NaN      iOS      video   0.75
3159548    32380  consideration     200953     NaN  Android      video   0.75
3159549   138282  consideration     200979     NaN      iOS      video   0.75

[3159550 rows x 7 columns]

In [12]:
all_data = df.merge(df_advertising_information, how = 'left', on = 'ad_channel')
all_data

         user_id   funnel_stage  timestamp  profit       os ad_channel  price
0         666743       interest     150000     NaN  Android     banner   0.50
1          47061       interest     150000     NaN  Android     banner   0.50
2         587720       interest     150000     NaN  Android     banner   0.50
3         991300         intent     150001     NaN      iOS     banner   0.50
4         289020       interest     150001     NaN  Android     banner   0.50
...          ...            ...        ...     ...      ...        ...    ...
4228776   446310  consideration     200926     NaN  Android      video   0.75
4228777   340340  consideration     200927     NaN  Android      video   0.75
4228778   313410  consideration     200951     NaN      iOS      video   0.75
4228779    32380  consideration     200953     NaN  Android      video   0.75
4228780   138282  consideration     200979     NaN      iOS      video   0.75

[4228781 rows x 7 columns]

In [13]:
all_data = all_data.sort_values(by = 'timestamp').reset_index(drop=True)
all_data

         user_id   funnel_stage  timestamp  profit       os ad_channel  price
0         666743       interest     150000     NaN  Android     banner   0.50
1         512217       interest     150000     NaN      iOS      video   0.75
2         399556       INTEREST     150000     NaN      iOS     search   1.50
3         230119       INTEREST     150000     NaN      iOS     search   1.50
4         619571  CONSIDERATION     150000     NaN      iOS     search   1.50
...          ...            ...        ...     ...      ...        ...    ...
4228776   501946         INTENT     224125     NaN  Android     search   1.50
4228777   749577       PURCHASE     224647  2136.0      iOS     search   1.50
4228778   929180         INTENT     224682     NaN      iOS     search   1.50
4228779  1034498         INTENT     225430     NaN      iOS     search   1.50
4228780   151184       INTEREST     225688     NaN      iOS     search   1.50

[4228781 rows x 7 columns]

In [14]:
all_data.to_csv('all data.csv', index=False)